html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  max-width: 100%;
  height: auto;
}
* {
  box-sizing: border-box;
}
body {
  font-family: Microsoft JhengHei, sans-serif;
  background-color: #ece6e4;
}

/*********/
.wrap {
  min-height: 100vh;
  padding-bottom: 200px;
  position: relative;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
}
nav {
  background-color: #000;
}
.navbar {
  height: 56px;
  display: flex;
  align-items: center;
  padding: 0 2rem;
  position: relative;
}
.navbar .logo {
  width: 120px;
  height: 24px;
  background-image: url(../img/logo_w\(null\).svg);
  background-repeat: no-repeat;
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
}
.navbar .logo a {
  display: block;
  height: 100%;
}
.navbar .menu {
  display: flex;
  margin-left: auto;
}
.navbar .menu li:last-child {
  margin-right: -0.5rem;
}
.navbar .menu li a {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 5%;
}
.navbar .menu li a:hover {
  background: #fff;
  color: #000;
}
.navbar .btn-toggle {
  font-size: 1.5rem;
  color: #fff;
  margin-left: auto;
  display: none;
}
@media (max-width: 375px) {
  .menu-close-icon {
    display: none;
  }
  .navbar .btn-toggle {
    display: block;
  }
  .navbar .menu {
    width: 100%;
    background-color: #000;
    position: absolute;
    top: 56px;
    right: 0;
    flex-direction: column;
    align-items: flex-end;
    max-height: 0;
    overflow: hidden;
    z-index: 999;
    transition: all 0.5s;
  }
  .navbar .menu li {
    width: 100%;
    text-align: right;
    border-bottom: 1px dashed #fff;
  }
  .navbar .menu li:last-child {
    margin-right: 0;
  }
  .navbar .menu li a {
    padding: 1rem 2rem;
  }
  /*** moblie 展開上方 menu ***/
  .menu-collapse .menu {
    max-height: 100vh;
  }
  .menu-collapse .menu-open-icon {
    display: none;
  }
  .menu-collapse .menu-close-icon {
    display: inline-block;
  }
}

.banner {
  position: relative;
  background-color: #000;
}
.banner-mobile {
  display: none;
}
.banner-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
}
.banner-caption h2 {
  font-size: 2.25rem;
  line-height: 3rem;
}
.banner-caption h2 span {
  white-space: nowrap;
}
.banner-caption h3 {
  margin-top: 1rem;
  line-height: 1.5rem;
}
.banner-caption h3 span::before,
.banner-caption h3 span::after {
  font-family: 'FontAwesome';
  content: '\f2e7';
  margin: 0 0.5rem;
}
@media (max-width: 375px) {
  .banner-desktop {
    display: none;
  }
  .banner-mobile {
    display: inline-block;
  }
}

.order {
  margin-top: 3rem;
  padding: 0 1.5rem;
  display: flex;
  justify-content: space-between;
}
.order-menu {
  flex-basis: 25%;
}
.order-menu h3 {
  font-size: 1.25rem;
  color: #3d1101;
  margin-left: 1rem;
}
.order-menu ul {
  margin-top: 1.5rem;
}
.order-menu ul li {
  border-bottom: 1px solid #3d1101;
}
.order-menu ul li a {
  display: block;
  text-decoration: none;
  color: #3d1101;
  padding: 0.8rem;
}
.order-menu ul li a.active {
  background-color: #3d1101;
  color: #fff;
}
.order-content {
  flex-basis: 73%;
}
.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search {
  flex-basis: 70%;
  display: flex;
  align-items: center;
}
.search input {
  width: 100%;
  border: 2px solid #3d1101;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  outline: 0;
}
.search a {
  padding: 0.5rem;
  background-color: #3d1101;
  color: #fff;
  font-size: calc(1.125rem + 4px);
}
.go-cart span {
  padding-right: 1rem;
  border-right: 1px solid #3d1101;
}
.go-cart a {
  color: #3d1101;
  font-size: 1.5rem;
  padding-left: 1rem;
}
.content-detail {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #3d1101;
}
.content-detail .item {
  flex-basis: 30%;
  box-shadow: 2px 2px 2px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  border-radius: 1%;
}
.content-detail .item p {
  font-size: 0.75rem;
  white-space: nowrap;
}
.content-detail .item h3 {
  font-size: 1.25rem;
  margin: 1rem 0;
}
.content-detail .item .border {
  margin: 0.5rem 0;
  width: 5rem;
  border: 0.5px solid #3d1101;
}
.content-detail .item a {
  text-decoration: none;
  margin-top: auto;
  margin-bottom: 0.5rem;
  margin-left: 5px;
  margin-right: 5px;
  border: 2px solid #ff5e45;
  color: #ff5e45;
  border-radius: 3px;
  padding: 0.5rem 0;
  text-align: center;
  width: 90%;
  white-space: nowrap;
}
@media (max-width: 768px) {
  .content-detail .item a {
    font-size: 0.75rem;
  }
}
@media (max-width: 767px) {
  .order {
    flex-direction: column;
  }
  .order-content {
    margin-top: 2rem;
  }
  .topbar {
    flex-direction: column;
    align-items: stretch;
  }
  .go-cart {
    align-self: flex-end;
    margin-top: 1rem;
  }
  .content-detail {
    flex-direction: column;
    align-items: center;
  }
  .content-detail .item a {
    font-size: 1rem;
  }
}

footer {
  padding: 3rem 3rem;
  display: flex;
  color: #3d1101;
  position: absolute;
  bottom: 0;
  width: 100%;
}
footer h3 {
  font-size: 1.25rem;
}
footer p {
  margin-top: 1rem;
  line-height: 1.5rem;
}
footer ul {
  list-style-type: disc;
  margin-top: 1rem;
  margin-left: 1.5rem;
}
footer li {
  margin-bottom: 0.5rem;
}
footer .about {
  flex-basis: 30%;
}
footer .contact {
  flex-basis: 30%;
}
footer .info {
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}
footer .website {
  font-size: 2.25rem;
}
footer .website .google {
  color: #db4437;
}
footer .website .twitter {
  color: #41abe1;
}
footer .website .facebook {
  color: #3a5795;
}
@media (max-width: 767px) {
  footer {
    flex-direction: column;
    align-items: flex-start;
  }
  footer .contact {
    margin-top: 2rem;
  }
  footer .info {
    display: none;
  }
}
